openapi: 3.0.3
info:
  title: PowerManage API
  version: 1.0.0
  description: |
    # PowerManage API

    ## Introduction
    Visonic/Tyco have their own REST API that is used for the following apps:

    - Visonic-Go
    - AlarmInstall
    - ConnectAlarm

    The API points to Visonic/Tyco's PowerManage servers which then passes the request to the alarm panel.

    ## Details
    General information about available interfaces is organized into the following sections:
    - REST: Endpoints used by normal end users and apps.
    - Installer: Endpoints and notes relevant to installers.

    ## REST
    The REST interface is used by normal users and consumer applications.
    - Base endpoint: `https://visonic.tycomonitor.com/rest_api/{rest_version}`

    ## Installer
    The Installer interface is used by professional installers and installer apps.
    - Base endpoint: `https://visonic.tycomonitor.com/rest_api/installer/{installer_version}`

    ## Authentication
    There are two tokens passed as HTTP headers:
    - `User-Token`: Used to authenticate the user with the server.
    - `Session-Token`: Used alongside `User-Token` for operations on a specific panel.

    Reusable security schemes are defined for both headers. Most endpoints require `User-Token`. Panel-specific operations typically require both `User-Token` and `Session-Token`.
servers:
    - url: https://visonic.tycomonitor.com/rest_api
      description: PowerManage API server

security: []

tags:
  - name: PowerManage API
    description: |
      General PowerManage server endpoints that are not specific to REST or Installer.
      Use this section for capability discovery and global metadata.
  - name: REST
    description: |
      Endpoints used by normal end users and apps.
      Base: https://visonic.tycomonitor.com/rest_api/{rest_version}
  - name: Installer
    description: |
      Endpoints for installer workflows.
      Base: https://visonic.tycomonitor.com/rest_api/installer/{installer_version}

  - name: REST:Versions
  - name: Installer:Versions

  - name: REST:Panel
    description: |
      Panel-related REST operations such as creating a panel session (login) using User-Token and returning Session-Token.

  - name: REST:10.0:Users
    description: |
      REST 10.0 endpoints related to user management for a specific panel.
  - name: REST:10.0:Auth
    description: |
      REST 10.0 endpoints for authenticating a user and obtaining a User-Token.
  - name: REST:10.0:Panel
    description: |
      REST 10.0 endpoints related to panel information and actions for a specific panel.
  - name: REST:10.0:Location
    description: |
      REST 10.0 endpoints related to static locations/zones names available on the panel.
  - name: REST:10.0:Device
    description: |
      REST 10.0 endpoints related to devices connected to the panel.

paths:
  /version:
    $ref: './api/version.yaml'
  /apptype:
    $ref: './api/apptype.yaml'
  /panel/login:
    $ref: './api/rest/login.yaml'
  /10.0/users:
    $ref: './api/rest/10.0/users.yaml'
  /10.0/auth:
    $ref: './api/rest/10.0/auth.yaml'
  /10.0/panel_info:
    $ref: './api/rest/10.0/panel-info.yaml'
  /10.0/panels:
    $ref: './api/rest/10.0/panels.yaml'
  /10.0/status:
    $ref: './api/rest/10.0/status.yaml'
  /10.0/panel_access_info:
    $ref: './api/rest/10.0/panel-access-info.yaml'
  /10.0/locations:
    $ref: './api/rest/10.0/locations.yaml'
  /10.0/feature_set:
    $ref: './api/rest/10.0/feature-set.yaml'
  /10.0/devices:
    $ref: './api/rest/10.0/devices.yaml'

components:
  securitySchemes:
    UserToken:
      type: apiKey
      in: header
      name: User-Token
      description: User authentication token.
    SessionToken:
      type: apiKey
      in: header
      name: Session-Token
      description: Panel-specific session token used alongside User-Token for panel operations.
  parameters:
    UserTokenHeader:
      in: header
      name: User-Token
      required: true
      schema:
        type: string
        example: "USER_TOKEN"
      description: Token identifying the user

    SessionTokenHeader:
      in: header
      name: Session-Token
      required: true
      schema:
        type: string
        example: "SESSION_TOKEN"
      description: Token identifying the current session
